<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
  <head>
    <!--  <meta http-equiv="refresh" content="0.5" /> -->
      <title>IOT 이노베이션 챌린지 영상 출력</title>
      <meta charset="utf-8">
      <style>
          body{
            background-image:url("static/뚝배기사진.jpg");
            backgroud-repeat:no-repeat;
            }
      </style>
  </head>
  <body>
    <video controls autoplay loop><!--control:플레이어 autoplay:자동시작 loop:무한반복-->
        <source src="static/뚝배기.mp4" type="video/mp4">
    </video>
    <img src="/static/pic.jpg" width="640" height="480">
    <h1>수고링</h1>
  </body>

</html>